.heading {
    color: var(--Pure-White, #FFF);
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 143.023%;
}

.container {
    height: auto;
    flex-shrink: 0;
    background-color: var(--color-secondary-black);
    display: flex;
    align-items: center;
    padding: 200px 0px;
    padding-bottom: 250px;
}

.header {
    width: 400px;
    display: flex;
    align-items: flex-start;
    color: var(--Pure-White, #FFF);
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 161.523%; 
    padding-left: 200px;
}

.imgLine {
    height: 300px;
    margin-top: 40px;
    margin-left: 300px;
}

.content {
    width: 400px;
    height: 355px;
    flex-shrink: 0;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contetnHeading{
    color: var(--Pure-White, #FFF);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 162.523%; 
}

.contentText{
    color: var(--Pure-White, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 162.523%; 
    opacity: 0.3;
}

.areaOfPractices {
    background-color: var(--color-secondary-black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
}