.CardContainer{
    height: 700px;
    flex-shrink: 0;
    background-color: var(--color-secondary-black);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 100px;
    text-align: center;
}

.CardContainer h1 {
    margin-bottom: 100px;
    padding-left: 770px;

}

.container {
    padding-left: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}