.CardContainer{

    height: 700px;
    flex-shrink: 0;
    background-color: var(--color-secondary-black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 300px 0px 200px 0px;
    text-align: center;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}


.heading{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}

.conntent {
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 143.023%; 
}

.heading img {
    padding: 10px;
}